:root {
    --light-text: white;
    --font: url('./fonts/fredericka-the-great.regular.ttf')
}

@font-face {
    font-family: 'fredericka';
    src: url(./fonts/fredericka-the-great.regular.ttf) format('truetype');
}

@font-face {
    font-family: 'friedolin';
    src: url('./fonts/friedolin.regular.ttf') format('truetype');
}

h1 {
    color: var(--light-text);
    font-family: 'friedolin';
}

nav {
    background-image: url('../public/images/nav/header2.png');
    background-size: 25%;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-position-x: right;
    font-family: 'friedolin';
}

.nav-link {
    /* background-color: white; */
    background-image: url(../public/images/nav/champion-belt-1409991-1193016.png);
    background-size: 6em 6em;
    background-position: center;
    /* opacity: calc(.5);
    border-radius: 50%; */
    margin-left: .2em;
    width: 5em;
}

.banner {
    height: 40vh;
    margin-bottom: 2em;
}

.banner h1 {
    font-size: 110px;
    padding-top: .5em;
}

#home {
    height: 90vh;
    background-image: url('../public/images/IG/301730435_460273709332977_8805898641640415304_n.jpg');
    background-position-y: 60em;
}

#home h1 {
    position:absolute;
    margin-top: 1.2em;
    margin-left: 2em;
    font-size: 110px;
}

#shows {
    place-content: center;
}

#shows .banner {
    background-image: url('../public/images/IG/305708817_5450915844999749_5606405213898827815_n.jpg');
    background-position: 0em 38em;
}

#shows .event {
    display: block;
    margin: auto;
    margin-top: 1em;
    /* border-radius: 10%; */
}

.eventDetails {
    margin-top: .5em;
}

/* #roster {
    height: 70vh;

} */

#roster .banner {
    background-image: url('../public/images/IG/311181289_634513091512001_1715567706480022684_n.jpg');
    background-size: cover;
    background-position-y: -6vh ;
}

#roster h2 {
    font-family: 'friedolin';
    font-size: 3em;;
}

.wrestlers {
    padding-bottom: 2em;
}

.wrestler {
    display:inline-flex;
    height: 15em;
    margin: 1em 3em 0em 3em;
}

.wrestler h3 {
    position: absolute;
    font-family: 'friedolin';
    color: var(--light-text);
    font-size: 2.8em;
    padding-left: .3em;
    padding-top: .2em;
}

#about .banner {
    background-image: url('../public/images/IG/308707539_193603223037387_810455091839222362_n.jpg');
    background-size: cover;
    background-position-y: -75vh ;
}

.aboutDesc p {
    margin-left: 3em;
    margin-right: 3em;
    text-align: left;
}

#footer {
    background-image: none;
    margin-top: 100%;

}

#footer img {
    height: 10vh;
}