:root {
    --light-text: antiquewhite;
    --font: url('./fonts/fredericka-the-great.regular.ttf')
}

@font-face {
    font-family: 'fredericka';
    src: url(./fonts/fredericka-the-great.regular.ttf) format('truetype');
}

h1 {
    color: var(--light-text);
    font-family: 'fredericka';
}

nav {
    background-image: url('../public/images/nav/header2.png');
    background-size: 25%;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-position-x: right;
    font-family: 'fredericka';
}

.nav-link {
    background-color: white;
    opacity: calc(.5);
    border-radius: 50%;
    margin-left: 2%;
}

.banner {

    height: 40vh;
    margin-bottom: 3em;
}

#home {
    height: 90vh;
    background-image: url('../public/images/IG/301730435_460273709332977_8805898641640415304_n.jpg');
    background-position-y: 60em;
}

#shows {
    height: 70vh;
    /* background-image: url('../public/images/IG/310159502_503923617884933_8729406778848083505_n.jpg'); */
    /* background-repeat: none; */
}

#shows .banner {
    background-image: url('../public/images/IG/305708817_5450915844999749_5606405213898827815_n.jpg');
    background-position: 0em 37em;
}

#wrestlers {
    height: 70vh;

}

#wrestlers .banner {
    background-image: url('../public/images/IG/311181289_634513091512001_1715567706480022684_n.jpg');
    background-size: cover;
    background-position-y: -6vh ;
}

#about .banner {
    background-image: url('../public/images/IG/308707539_193603223037387_810455091839222362_n.jpg');
    background-size: cover;
    background-position-y: -75vh ;
}

#footer {
    background-image: none;

}

#footer img {
    height: 10vh;
}